@import "tailwindcss";

@font-face {
  font-family: "Eyesome Script";
  src: url("./fonts/Eyesome Script.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-wedding-red: #7a0000;

  --color-wedding-green-light: #45cf6c;
  --color-wedding-green: #1d8f3d;
  --font-heading: "Eyesome Script", sans-serif;
  --font-body: "DM Sans", sans-serif;
}

body {
  font-family: var(--font-body);
  position: fixed; /* lock it in place */
  inset: 0; /* top:0, right:0, bottom:0, left:0 */
  overflow: hidden; /* no scrollbars ever */
  width: 100%;
}
